@model CentralQuizApp.Models.IndexModel
@{
    ViewBag.Title = "Central Home Page";
}
@section featured {

   
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        
   
    <section id="loginForm">
        <h2>Use a Student account to log in.</h2>
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

    <form>
        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </li>
            </ol>
            <input type="submit" value="Log in" />
        </fieldset>
    </form>

        }
</section>




    
        <hgroup class="title">
            <h2>Create a new account.</h2>
        </hgroup>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

    <form>
        <fieldset>
            <legend>Registration Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName1)
                    @Html.TextBoxFor(m => m.UserName1)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password1)
                    @Html.PasswordFor(m => m.Password1)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Register" />
        </fieldset>
    </form>





        }

}
